.section {
  width: 100vw;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.check__password {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.check__password li,
.check__password.empty li {
  color: gray;
}
.check__password.small li {
  color: red;
}
.check__password.easy li:first-child {
  color: red;
}
.check__password.medium li:nth-child(1),
.check__password.medium li:nth-child(2) {
  color: yellow;
}
.check__password.strong li {
  color: green;
}
